<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" type="text/css">
    <link rel="stylesheet" href="/homepage.css" type="text/css">
    <link rel="stylesheet" href="/navigatie.css" type="text/css">
    <link rel="stylesheet" href="/fav-lijst.css" type="text/css">
    <title>Funda</title>
</head>
<body>

<nav>
        <h1>Funda</h1>
    <ul>
        <li>Kopen</li>
        <li>Huren</li>
        <li>Verkopen</li>
    </ul>

    <ul>
        <li><a href="http://localhost:8000/fav-lijst">Favorieten</a></li>
        <li>Mijn huis</li>
        <li>Mijn profiel</li>
    </ul>
</nav>