<%- include('./partials/head') %>


<h1>Home</h1>
<p>test</p>
<a href="/fav-lijst">Bewaarde Huizen</a>
<a href="/detail">Detail</a>

<form>
    <p>Filter op:</p>
    <select>
        <option>Prijs</option>
        <option>Bewaardatum</option>
        <option>Datum</option>
        <option>Plaats</option>
    </select>
</form>
